BX1_ROOT=/home/arduino/BX1
BX1_CONFIG_DIR=/home/arduino/BX1/config
BX1_RUNTIME_DIR=/home/arduino/BX1/runtime
BX1_LOG_DIR=/home/arduino/BX1/logs
BX1_BODY_CONFIG=/home/arduino/BX1/config/config.json
BX1_MANAGEMENT_CONFIG=/home/arduino/BX1/config/management.json
BX1_BRAIN_ENDPOINT_CANDIDATES=http://192.168.68.53:8765,http://100.92.216.101:8765
BX1_BODY_ENDPOINT_CANDIDATES=http://192.168.68.54:8088,http://100.72.130.12:8088
BX1_CONFIGURATION_SCHEMA=1
